<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="{% block robots %}noindex,nofollow{% endblock %}" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" type="text/css" media="all">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
