{% extends 'FeikkiSiteBundle::base.html.twig' %}
{% block body %}
    <div class="page-header">
        {% block page_header '' %}
    </div>
    <div class="content">
        {% block content '' %}
    </div>
{% endblock %}